# Ignore Python bytecode files
__pycache__/

# Ignore environment configuration files
.env

# Ignore SQLite database file
sqlite3.db

# Ignore log files
*.log

# Ignore media files (if using media uploads)
/media/

# Ignore web configuration for development
web.config-devep
ecommerce
notifications/models
cache
script.py
scripts.py
service-account-file.json