<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\production\ERP\venv\Scripts\python.exe|C:\production\ERP\venv\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
    <appSettings>
    <add key="PYTHONPATH" value="C:\production\ERP\erp_master" />
    <add key="WSGI_HANDLER" value="erp_master.wsgi.application"/>
    <add key="DJANGO_SETTINGS_MODULE" value="erp_master.settings"/>
  </appSettings>
</configuration>