<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="E:\production\erp\erp_master" />
    <add key="WSGI_HANDLER" value="erp_master.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="erp_master.settings" />
  </appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
    <handlers>
      <add name="Django FastCGI" path="*" verb="*" modules="FastCgiModule"
      scriptProcessor="E:\production\erp\venv\Scripts\python.exe|E:\production\erp\venv\lib\site-packages\wfastcgi.py"
      resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        </system.webServer>
    </location>
</configuration>