{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'member/assets/img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'member/assets/img/favicon.png' %}" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <link rel="canonical" href="https://www.creative-tim.com/product/soft-ui-dashboard-pro" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static 'member/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'member/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
    <link href=" {% static 'member/assets/css/nucleo-svg.css' %} " rel="stylesheet" />
    {% block extrastyle %}
    {% endblock %}

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link id="pagestyle" href="{% static 'member/assets/css/soft-ui-dashboard.min9f1e.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" />
    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body class="g-sidenav-show bg-gray-100">
    {% comment %}Include Side nav bar here{% endcomment %}

    {% include 'member/pages/sidebar.html' %}

    {% comment %}End side nav bar{% endcomment %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      {% comment %}Include Nav bar Here{% endcomment %}
      {% include 'member/pages/navbar.html' %}
      {% comment %}Navbar Ends{% endcomment %}
      <div class="container-fluid py-4">
        {% if messages %}
          <div class="container mt-4">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% block content %}

        {% endblock %}
        {% include 'member/pages/footer.html' %}
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src=" {% static 'member/assets/js/core/popper.min.js' %}"></script>
    <script src=" {% static 'member/assets/js/core/bootstrap.min.js' %}"></script>
    <script src=" {% static 'member/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src=" {% static 'member/assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script src=" {% static 'member/assets/js/plugins/dragula/dragula.min.js' %}"></script>
    <script src=" {% static 'member/assets/js/plugins/jkanban/jkanban.js' %}"></script>
    <script src=" {% static 'member/assets/js/plugins/chartjs.min.js' %}"></script>
    <script src=" {% static 'member/assets/js/plugins/threejs.js' %}"></script>
    <script src=" {% static 'member/assets/js/plugins/orbit-controls.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options)
      }
    </script>
  </body>
</html>
