{% extends 'member/pages/base.html' %}
{% load i18n static crispy_forms_tags member_filters import_export_tags %}

{% block title %}
  Sahayak Incentives
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'import_export/import.css' %}" />
{% endblock %}

{% block extrahead %}
  <script src="{% static 'import_export/guess_format.js' %}"></script>
  {% if confirm_form %}
    {{ confirm_form.media }}
  {% else %}
    {{ import_form.media }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 bg-white px-3 py-2">
      <form method="GET" class="row g-2">
        {% for field in filter.form %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <div class="col-12 d-flex gap-2">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-filter"></i> {% trans 'Filter' %}</button>
          <a href="{% url 'sahayak_incentives_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-undo"></i> {% trans 'Reset' %}</a>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="card p-3">
        <div class="card-header">
          <div class="row">
            <!-- Left Section: Title & Description -->
            <div class="col-lg-3 col-md-12 mb-3">
              <h5 class="mb-0">{% trans 'Sahayak Incentives' %}</h5>
              <p class="text-sm mb-0">
                {% trans 'Sahayak incentive data' %}
              </p>
            </div>
            <!-- Right Section: Filters & Buttons -->
            <div class="col-lg-9 col-md-12">
              <div class="row g-3 align-items-end">
                <!-- Buttons for Add & Import -->
                <div class="col-12 d-flex justify-content-end gap-2">
                  <a href="{% url 'sahayak_incentives_create' %}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> {% trans 'Add' %}</a>
                  <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-file-excel"></i> {% trans 'Import' %}</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-height fixed-columns">
              <form id="selectedForm" method="POST" action="{% url 'sahayak_incentives_list' %}">
                {% csrf_token %}
                <div class="row mb-3">
                  <div class="col-6">
                    <select id="action-dropdown" name="action" class="form-control">
                      <option value="">
                        {% trans 'Choose Action' %}
                      </option>
                      {% for action in actions %}
                        <option value="{{ action.value }}">{{ action.label }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-secondary btn-sm">Go</button>
                  </div>
                  <div class="col-4 text-end">
                    <span>{% trans 'Total Rows' %}: {{ total_rows }}</span> |
                    <span>{% trans 'Selected Rows' %}: <span id="selected-count">0</span></span>
                  </div>
                </div>
                <table class="table table-striped" style="width:100%">
                  <thead>
                    <tr>
                      <th>
                        <input type="checkbox" id="selectAll" />ID
                      </th>
                      <th>
                        {% trans 'MCC' %}
                      </th>
                      <th>
                        {% trans 'MCC Code' %}
                      </th>
                      <th>
                        {% trans 'MPP' %}
                      </th>
                      <th>
                        {% trans 'MPP Code' %}
                      </th>
                      <th>
                        {% trans 'Sahayak Name' %}
                      </th>
                      <th>
                        {% trans 'Month' %}
                      </th>
                      <th>
                        {% trans 'Opening' %}
                      </th>
                      <th>
                        {% trans 'Milk Incentive' %}
                      </th>
                      <th>
                        {% trans 'Other Incentive' %}
                      </th>
                      <th>
                        {% trans 'Payable' %}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for object in objects %}
                      <tr>
                        <td>
                          <input type="checkbox" class="selectRows" name="selected_rows" value="{{ object.id }}" />
                        </td>
                        <td>
                          <a href="{% url 'sahayak_incentives_update' object.id %}">{{ object.mcc_name }}</a>
                        </td>
                        <td>{{ object.mcc_code }}</td>
                        <td>{{ object.mpp_name }}</td>
                        <td>{{ object.mpp_code }}</td>
                        <td>{{ object.user.get_full_name }}</td>
                        <td>{{ object.month }}</td>
                        <td>{{ object.opening }}</td>
                        <td>{{ object.milk_incentive }}</td>
                        <td>{{ object.other_incentive }}</td>
                        <td>{{ object.payable }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </form>
            </div>
          </div>
          {% if objects.has_other_pages %}
            <div class="d-flex justify-content-between align-items-center mt-4">
              <!-- Pagination Controls (Left) -->
              <nav aria-label="Page navigation">
                <ul class="pagination mb-0">
                  {% if objects.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page=1" title="First Page"><i class="fas fa-angle-double-left"></i></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ objects.previous_page_number }}" title="Previous Page"><i class="fas fa-angle-left"></i></a>
                    </li>
                  {% endif %}

                  <li class="page-item disabled">
                    <span class="page-link">{{ objects.number }}</span>
                  </li>

                  {% if objects.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ objects.next_page_number }}" title="Next Page"><i class="fas fa-angle-right"></i></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ objects.paginator.num_pages }}" title="Last Page"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
              <!-- Total Rows Count (Right) -->
              <span class="badge bg-secondary p-2">Total: {{ total_rows }} rows</span>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">{% trans 'Import Excel To Populate the Data' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <form method="post" enctype="multipart/form-data" class="m-3 p-3">
            <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="excel_import" value="excel_import" />
              {% include 'admin/import_export/resource_fields_list.html' with import_or_export='import' %}
              {% block import_form_additional_info %}

              {% endblock %}
              {% block form_detail %}
                {{ import_form|crispy }}
              {% endblock %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const selectAllCheckbox = document.getElementById('selectAll')
      const rowCheckboxes = document.querySelectorAll('.selectRows')
      const selectedCountDisplay = document.getElementById('selected-count')
    
      selectAllCheckbox.addEventListener('change', function () {
        rowCheckboxes.forEach((checkbox) => {
          checkbox.checked = selectAllCheckbox.checked // Set the checked state of all member checkboxes
        })
        updateSelectedCount()
      })
    
      rowCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function () {
          updateSelectedCount()
        })
      })
    
      function updateSelectedCount() {
        const selectedCount = Array.from(rowCheckboxes).filter((checkbox) => checkbox.checked).length
        selectedCountDisplay.textContent = selectedCount
      }
    })
  </script>
{% endblock %}
